
body > main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 7rem);
}

article {
  padding: 0;
  overflow: hidden;
  width: 800px;
  height: 500px;
  justify-content: center;
}


@media (min-width: 1200px) {

  article div {
    padding: 50px;
    justify-content: center;
  }
}




/* Footer */
body > footer {
  padding: 1rem 0;
}